.h1 {
    color: #1F567C;
}

.body {
    display: inline;
    flex-direction: column;
}

.container {
    height: 25%;
    width: 21%;
    min-width: 200px;
    min-width: 250px;
    border-radius: 6px;
    border: 3px solid#1F567C;
    text-align: center;
    float: left;
    margin: 1%;	
}

.container2 {
    height: 15%;
    width: 15%;
    min-width: 200px;
    min-width: 250px;
    border-radius: 6px;
    border: 3px solid#1F567C;
    text-align: center;
    float: left;
    margin: 1%;	
}
.slider {
    color: solid#1F567C;
}

.button {
    background-color: #1F567C;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid #1F567C;
    margin-bottom: 5%;
    margin-top: 3%;
}

.button:hover {
    background-color: #1F567C;
    color: black;
}